<div class="container">
  <h2 class="mt-4">Parking App</h2>

  <!-- License Plate Input Section -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <label for="licensePlate">License Plate:</label>
        <input type="text" class="form-control" id="licensePlate" [(ngModel)]="license" />
      </div>
      <div class="form-group">
        <label for="entryTime">Entry Time:</label>
        <input type="datetime-local" class="form-control" id="entryTime" [(ngModel)]="entryTimeInput" />
      </div>
      <button class="btn btn-primary" (click)="addVehicle()">Add Vehicle</button>

      <!-- Message Div for License Plate Input -->
      <div *ngIf="showMessage" class="message">
        <p>{{ message }}</p>
        <button class="btn btn-secondary" (click)="closeMessage()">Close</button>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Available Parking Slots:</h3>
      <p>{{ availableParkingSlots }}</p>
    </div>
  </div>

  <!-- IN and OUT Cars Section -->
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>IN Cars (Parked)</h3>
      <!-- Message Div for IN Cars -->
      <div *ngIf="parkedVehicles.length === 0" class="message">
        <p>No cars are currently parked.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of parkedVehicles">
          License Plate: {{ car.licensePlate }}<br>
          Entry Time: {{ car.entryTime | date: 'medium' }}
          <button class="btn btn-danger" (click)="exitVehicle(car.licensePlate)">Exit</button>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>OUT Cars (Exited)</h3>
      <!-- Message Div for OUT Cars -->
      <div *ngIf="exitedVehicles.length === 0" class="message">
        <p>No cars have exited the parking lot yet.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of exitedVehicles">
          License Plate: {{ car.licensePlate }}<br>
          Entry Time: {{ car.entryTime | date: 'medium' }}<br>
          Exit Time: {{ car.exitTime | date: 'medium' }}
          <span *ngIf="!car.isParked">Parking Fee: {{ car.parkingFee }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
